.circle {
    position: absolute;
    width: 280px;
    height: 280px;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}
.circle:before  {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateX(-50%);
    /*background-color: #ff2972;*/
    /*box-shadow: 0 0 20px #ff2972, 0 0 60px #ff2972;*/
}
.circle:first-child:before  {
    background-color: #04fc43;
    box-shadow: 0 0 20px #04fc43, 0 0 60px #04fc43;
}
.circle:nth-child(2):before  {
    background-color: #fee800;
    box-shadow: 0 0 20px #fee800, 0 0 60px #fee800;
}
.circle:nth-child(3):before  {
    background-color: #ff2972;
    box-shadow: 0 0 20px #ff2972, 0 0 60px #ff2972;
}
.circle i {
    position: absolute;
    width: 6px;
    height: 50%;
    background-color: #ff2972;
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}